@font-face {
    font-family: chalkitup;
    src: url("../fonts/EraserDust.ttf");
}
body {
    color: #ffffff;
    text-align: center;
    margin: 0;
}
html, body {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    background-color: #ccbb99 !important;
}
a {
    color: #ffffff;
}
a:hover, a:active {
    color: #ffffff;
}
h4 {
    font-family: chalkitup, "sans-serif";
}
#notification {
    position: fixed;
    top: 5px;
    border-radius: 0;
    width: 100%;
    display: none;
    z-index: 1200 !important;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}
@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}
.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
    animation-delay: 2s;
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.modal {
    z-index: 1300!important;
}
.modal-header {
    border: none;
}
.modal-title {
    color: #0f0f0f;
    font-family: chalkitup, "sans-serif";
    font-size: 50px;
}
.modal-footer {
    text-align: center;
}
#winnerSymbol {
    font-size: 9em;
}
.tie {
    display: inline-block;
    padding-bottom: 10px;
}
.crownCross {
    position: absolute;
    margin-left: -45px;
    transform: rotate(20deg);
}
.crownNought {
    position: absolute;
    margin-left: -100px!important;
    margin-top: -11px;
}
#wonText {
    margin-top: -25px;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 55px solid #FFB819;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 50px;
    max-width: 70%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #65513C;
    box-shadow: 0 10px 6px -6px #65513C;
}
.btn-restart, .btn-exit {
    background-color: transparent;
}
.btn-restart {
    color: #5cb85c;
}
.btn-exit {
    color: #d9534f
}
.podium-btn-icon-restart, .podium-btn-icon-exit {
    font-size: 50px;
}
.navbar {
    border-radius: 0;
    border: none;
    background-color: #683F36;
    border-top: 5px solid #5A332B;
}
.navbar-brand {
    cursor: pointer;
    color: #ffffff !important;
    font-family: chalkitup, "sans-serif";
}
.scoreboard {
    background-color: #8a6d3b;
    z-index: 1100;
}
.counter-outer {
    background-color: #3c3c3c;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
}
.score {
    font-size: 25px;
    font-family: chalkitup, "sans-serif";
}
.detail {
    background-color: #761c19;
    display: block;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playground {
    margin-top: -20px;
    margin-bottom: 0;
    background-color: transparent;
}
.boardContainer {
    margin: 0 auto;
}
#boardGrid {
    margin: 0 auto;
    max-width: 600px;
    table-layout: fixed;
    border: none;
}
#boardGrid td {
    vertical-align: middle;
    text-align: center;
    line-height: 0;
    cursor: pointer;
    border: none;
}
#boardGrid td:nth-child(2n + 1) {
    border-left: 3px solid #336666;
    border-right: 3px solid #336666;
}
#boardGrid td:first-child {
    border-left: none;
}
#boardGrid td:last-child {
    border-right: none;
}
#boardGrid tr {
    border-top: 3px solid #226611;
    border-bottom: 3px solid #226611;
}
#boardGrid tr:first-child {
    border-top: none;
}
#boardGrid tr:last-child {
    border-bottom: none;
}
.crosses {
    color: #C92349;
}
.noughts {
    color: #685F8E;
}
.symbolSize-6 {
    font-size: 30px;
}
.symbolSize-5 {
    font-size: 35px;
}
.symbolSize-4 {
    font-size: 40px;
}
.symbolSize-3 {
    font-size: 45px;
}
.comments {
    height: 200px;
}
@media (min-width: 768px) {
    #wonText {
        margin-left: 20%;
        margin-right: 20%;
        max-width: 60%;
    }
    .boardContainer {
        width: 70%;
    }
    .symbolSize-6 {
        font-size: 40px;
    }
    .symbolSize-5 {
        font-size: 45px;
    }
    .symbolSize-4 {
        font-size: 50px;
    }
    .symbolSize-3 {
        font-size: 55px;
    }
}
@media (min-width: 992px) {
    #wonText {
        margin-left: 30%;
        margin-right: 30%;
        max-width: 40%;
    }
    .scoreboard {
        position: fixed;
        right: 10px;
    }
    .playground {
        margin-top: 35px;
    }
    .boardContainer {
        width: 60%;
    }
    .symbolSize-6 {
        font-size: 50px;
    }
    .symbolSize-5 {
        font-size: 55px;
    }
    .symbolSize-4 {
        font-size: 60px;
    }
    .symbolSize-3 {
        font-size: 65px;
    }
}
@media (min-width: 1200px) {
    #wonText {
        margin-left: 30%;
        margin-right: 30%;
        max-width: 40%;
    }
    .boardContainer {
        width: 50%;
    }
    .symbolSize-6 {
        font-size: 60px;
    }
    .symbolSize-5 {
        font-size: 65px;
    }
    .symbolSize-4 {
        font-size: 70px;
    }
    .symbolSize-3 {
        font-size: 75px;
    }
}