@font-face {
    font-family: chalkitup;
    src: url("../fonts/EraserDust.ttf");
}
body {
    color: #ffffff;
    text-align: center;
    margin: 0;
}
html, body {
    height: 100%;
    background-color: #333;
}
a {
    color: #ffffff;
}
a:hover, a:active {
    color: #ffffff;
}
.site-wrapper {
     width: 100%;
     height: 100%;
     min-height: 100%;
     -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
     box-shadow: inset 0 0 100px rgba(0,0,0,.5);
     border-top: 5px solid #5A332B;
     background-color: #ccbb99 !important;
    overflow-y: auto;
 }
.navbar {
    border-radius: 0;
    border: none;
    background-color: #683F36;
}
.navbar-brand {
    cursor: pointer;
    color: #ffffff !important;
    font-family: chalkitup, "sans-serif";
}
.centerMe {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}
.site-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    border-top: 5px solid #5A332B;
    background-color: #ccbb99 !important;
}
#board {
    height: 100%;
    border: none;
}
#board td {
    width: 33.3%;
    height: 33.3%;
    border: none;
    vertical-align: middle;
    font-size: 55px;
    cursor: pointer;
}
#board td:nth-child(2n + 1) {
    border-left: 3px solid #336666;
    border-right: 3px solid #336666;
}
#board td:first-child {
    border-left: none;
}
#board td:last-child {
    border-right: none;
}
#board tr {
    border-top: 3px solid #226611;
    border-bottom: 3px solid #226611;
}
#board tr:first-child {
    border-top: none;
}
#board tr:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    #board {
        margin: 0 auto;
        width: 50%;
    }
    #board td {
        font-size: 100px;
    }
}